<br>
<div class="text-center text-muted mt-5">
  <img src="" alt="Logo Trouvez Tous">
</div>
<div id="wrapper">
  <form class="">
    <h2>Login</h2>
    <hr>
    <div class="">
      <label for="exampleInputEmail1" class="form-label"> Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div><br>
    <div class="">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div><br>
    <div style="display: flex; justify-content: space-between;" class=" mx-0">
      <button type="submit" class="btn btn-primary">Login</button>
     <a routerLink="/auth/forgotpassword/">Forgot password</a>
    </div>
  </form>
</div>
<div style="margin-top: 25px; margin-bottom: 10px;" class="text-center text-muted"><small>Copyrights &copy; All Rights Reserved by foleyKant.</small></div>
