<div class="text-center text-muted mt-5">
  <img src="" alt="Logo Trouvez Tous">
</div>
<div id="wrapper">
  <form class="">
    <h2>Login</h2>
    <hr>
    <div class="">
      <label for="exampleInputEmail1" class="form-label">Firstname</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mt-2">
      <label for="exampleInputEmail1" class="form-label">Lastname</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mt-2">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mt-2">
      <label for="exampleInputEmail1" class="form-label">Mobile</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mt-2">
      <label for="exampleInputEmail1" class="form-label">Address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mt-2">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mt-2">
      <label for="exampleInputEmail1" class="form-label">City</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mt-2">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mt-2" style="display: flex; justify-content: space-between;">
      <button type="submit" class="btn btn-primary">Register</button>
     <a routerLink="/auth/login/">Do you have an account</a>
    </div>
  </form>
</div>
<div style="margin-top: 10px; margin-bottom: 10px;" class="text-center text-muted"><small>Copyrights &copy; All Rights Reserved by foleyKant.</small></div>
